@font-face {
  font-family: Enso;
  src: url(enso-font/EnsoBold-Alag.ttf);
}

html, body {
  background-color: purple;
  height: 100%;
  margin: 0px;
} 

h2 {
  font-family: Enso;
  color: purple;
  font-size: xx-large;
}

.container {
  display: flex;
  height: 100%;
  /* border: 3px solid #B22222; */
}

.sidebar {
  background-image: url("form-background.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

.sidebar-top {
  display: flex;
  flex-basis: 55%;
  align-items: center;
}

.logo-and-title {
  background-color: aliceblue;
  opacity: 0.66;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100px;
}

.title {
  display: flex;
  background-color: aliceblue;
  height: 100px;
  padding-left: 10px;
  align-items: center;
}

.form {
  flex-basis: 67%;
}