@font-face {
  font-family: Enso;
  src: url(enso-font/EnsoBold-Alag.ttf);
}

html, body {
  background-color: rgb(245, 245, 245);
  height: 100%;
  margin: 0px;
}

h2 {
  font-family: Enso, Arial, Helvetica, sans-serif;
  color: purple;
  font-size: xx-large;
}

input {
  line-height: 28px;
  width: 250px;
  border-radius: 5px;
}

input:focus {
  box-shadow: 0px 4px 4px hsl(0deg 0% 0% / 0.28);
}

.container {
  display: flex;
  height: 100%;
}

.sidebar {
  background-image: url("form-background.jpeg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.sidebar-top {
  display: flex;
  flex-basis: 55%;
  align-items: center;
}

.logo-and-title {
  background-color: aliceblue;
  opacity: 0.66;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;  
}

.logo {
  height: 100px;
}

.title {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  height: 100px;
}

.form-outline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.form-container {
  /* border: 3px solid #B22222; */
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-text {
  background-color: rgb(245, 245, 245);
  display: flex;
}

.form-text span {
  align-self: flex-end;
  font-family: Enso, Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bold;
  padding: 125px 50px 50px;
}

.form-main {
  background-color: rgb(252, 252, 252);
}

.form-call-to-action {
  font-family: Enso, Arial, Helvetica, sans-serif;
  font-size:x-large;
  font-weight: bold;
  padding: 20px 50px 0px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  padding: 20px;
  box-shadow: 0px 4px 4px hsl(0deg 0% 0% / 0.28);
  position: relative;
}

.form-fields-row {
  display: flex;
}

.form-field {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: small;
  letter-spacing: 0.25ch;
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.form-submit {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  padding: 20px 0px 120px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

button[type=submit] {
  background-color: purple;
  color: white;
  padding: 15px 32px;
  font-family: Enso, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 25px 50px;
  border-radius: 5px;
  cursor: pointer;
}

.button-subtext {
  font-family: Enso, Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0px 50px;
}
